{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réservation de la suite {{ suite.name }}</h1>

    {% if errorMessage is defined %}
    <div>{{ errorMessage }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
